<div class="dropdown">
	<label for="dropdown-materials">Materials</label>
	<div class="dropdown-wrap form-group">
	  <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-materials" data-toggle="dropdown">
	  	<% var selectedMat = selectedMat %>
	    <span data-bind="label"><%= selectedMat %></span>
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-wrap">
	  	<% _.each( material, function(mat) { %>
			<li role="presentation"><a role="menuitem" tabindex="-1" href="#"> <%= mat %> </a></li>
	  	<% }) %>
	  </ul>
		<label class="checkbox-inline checkbox-mats">
			<input id="hazard-check" type="checkbox" name="keywords" value="__option__">
			<span class="bold-label">Check this box</span>
			<span>if the listing contains or may contain restricted materials</span>
		</label>
	</div>
</div>
<div class="form-group">
	<label for="radio-rapper">Measurements</label>
	<div class="radio-wrapper">
		<span class="radio-inline">Measurements are in:</span>
			<% var unitType = unitType %> <!-- Any way to reference parent scope here other than this? -->
			<% for( var unit in measurement.unit ) { %>
				<% if(unit == unitType) { %>
					<label class="radio-inline">
					    <input type="radio" checked="checked" name="unitRadioButton" id="unit-radio-btn" value="<%= unit %>">
					    	<%= unit %>
					    </input>
					</label>
				<% } else { %>	
					<label class="radio-inline">
					    <input type="radio" name="unitRadioButton" id="unit-radio-btn" value="<%= unit %>">
					    	<%= unit %>
					    </input>
					</label>
				<% } %>
			<% } %>
	</div>
</div>
<div class="form-group">
	<div class="radio-wrapper">
		<span class="radio-inline">Measured item is:</span>
			<% var shapeType = shapeType %>
			<% for( var type in measurement.shape ) { %>
				<% if(measurement.shape[type] == shapeType) { %>
					<label class="radio-inline">
					    <input type="radio" checked="checked" name="shapeRadioButton" id="shape-radio-btn" value="<%= measurement.shape[type] %>">
					    	<%= measurement.shape[type] %>
					    </input>
					</label>
				<% } else { %>	
					<label class="radio-inline">
					    <input type="radio" name="shapeRadioButton" id="shape-radio-btn" value="<%= measurement.shape[type] %>">
					    	<%= measurement.shape[type] %>
					    </input>
					</label>
				<% } %>
			<% } %>
	</div>
</div>

<div class="measurement-controls">
	<% var isDisabled = disabled ? 'disabled' : '' %>
	<div class="form-group row">
		<div class="col-md-6">
			<label for="length-input" class="<%= isDisabled %>">Length:</label>
			<div class="input-group length-input">
			  <input type="text" class="form-control"<%= isDisabled %> >
			  	<span class="input-group-addon"><%= unitType %></span>
			</div>
		</div>
		<div class="col-md-6">
			<label for="depth-input" class="<%= isDisabled %>">Depth:</label>
			<div class="input-group depth-input">
			  <input type="text" class="form-control"<%= isDisabled %> >
			  <span class="input-group-addon"><%= unitType %></span>
			</div>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-6">
			<label for="height-input" class="<%= isDisabled %>">Height:</label>
			<div class="input-group height-input">
			  <input type="text" class="form-control"<%= isDisabled %> >
			  <span class="input-group-addon"><%= unitType %></span>
			</div>
		</div>
		<div class="col-md-6">
			<label for="diameter-input" class="<%= isDisabled %>">Diameter:</label>
			<div class="input-group diameter-input">
			  <input type="text" class="form-control"<%= isDisabled %> >
			  <span class="input-group-addon"><%= unitType %></span>
			</div>
		</div>
	</div>
</div>
<div class="form-group">
	<label for="radio-rapper">Condition ( Select one )</label>
	<div class="radio-wrapper">
		<% var selectedCondition = selectedCondition %>
		<% for( var desc in condition.description ) { %>
			<% if(condition.description[desc] == selectedCondition) { %>
				<label class="radio-inline">
				    <input type="radio" name="inlineRadioOptions" checked="checked" id="condition-radio-btn" value="<%= condition.description[desc] %>">
				    <%= condition.description[desc] %>
				    </input>
				</label>
			<% } else { %>
				<label class="radio-inline">
				    <input type="radio" name="inlineRadioOptions" id="condition-radio-btn" value="<%= condition.description[desc] %>">
				    <%= condition.description[desc] %>
				    </input>
				</label>
			<% } %>	
		<% } %>
	</div>
</div>

